<%- contentFor('body') %>

<div class="error-container">
    <img src="https://img.icons8.com/color/96/000000/error--v1.png" alt="Error">
    <h1>Page non trouvée</h1>
    <p class="lead">La page que vous recherchez n'existe pas ou a été déplacée.</p>
    <a href="/" class="btn btn-primary mt-3">Retour à l'accueil</a>
</div> 